@font-face {
	font-family: "vazirmatn";
	src: url('../fonts/vazirmatn/thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: "vazirmatn";
	src: url('../fonts/vazirmatn/extralight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: "vazirmatn";
	src: url('../fonts/vazirmatn/light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: "vazirmatn";
	src: url('../fonts/vazirmatn/regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: "vazirmatn";
	src: url('../fonts/vazirmatn/medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: "vazirmatn";
	src: url('../fonts/vazirmatn/semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: "vazirmatn";
	src: url('../fonts/vazirmatn/bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: "vazirmatn";
	src: url('../fonts/vazirmatn/extrabold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
  }
  
  @font-face {
	font-family: "vazirmatn";
	src: url('../fonts/vazirmatn/black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
  }

  
@font-face {
	font-family: samim;
	font-style: normal;
	src: url('../fonts/samin/samim.eot');
	src: url('../fonts/samin/samim.eot?#iefix') format('embedded-opentype'),  /* ie6-8 */
		 url('../fonts/samin/samim.woff2') format('woff2'),  /* ff39+,chrome36+, opera24+*/
		 url('../fonts/samin/samim.woff') format('woff'),  /* ff3.6+, ie9, chrome6+, saf5.1+*/
		 url('../fonts/samin/samim.ttf') format('truetype');
}

@font-face {
	font-family: samim-bold;
	font-style: normal;
	src: url('../fonts/samin/samim-bold.eot');
	src: url('../fonts/samin/samim-bold.eot?#iefix') format('embedded-opentype'),  /* ie6-8 */
		 url('../fonts/samin/samim-bold.woff2') format('woff2'),  /* ff39+,chrome36+, opera24+*/
		 url('../fonts/samin/samim-bold.woff') format('woff'),  /* ff3.6+, ie9, chrome6+, saf5.1+*/
		 url('../fonts/samin/samim-bold.ttf') format('truetype');
}